body {
  background-color: var(--mantine-color-gray-0);
}

/* Layouts */
.layouts-default-container {
  background-color: var(--mantine-color-white);
  border-left: 1px solid var(--mantine-color-gray-3);
  border-right: 1px solid var(--mantine-color-gray-3);
}

/* Typography */
.title-gray {
  color: var(--mantine-color-gray-3);
}

.top-article {
  color: var(--mantine-color-gray-3);
}

/* Cards */
/* Article Cards */
.article-card {
  background-color: var(--mantine-color-body);
  transition: border-color 0.3s ease-in-out;
}

.article-card:hover {
  border-color: var(--mantine-primary-color-filled-hover);
}

/* Hot Atricle Cards */
.hot-article-rating {
  position: absolute;
  top: var(--mantine-spacing-xs);
  left: 12px;
  pointer-events: none;
}
/* Sidebars */
/* Latest Reviews */
.reviewBox {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 1) 100%
  );
}

.gameReviewBox {
  color: var(--mantine-color-dark-1);
}

.gameReviewBox:hover {
  color: var(--mantine-color-dark-0);
}

/* Decorations */
.section-header-divider {
  height: 2px;
  background-color: var(--mantine-primary-color-6);
}

.section-header-divider-icon {
  background-color: var(--mantine-color-gray-3);
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header-divider-title {
  background-color: var(--mantine-primary-color-6);
  color: var(--mantine-color-white);
  height: 32px;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 4px;
}

.medium-opacity {
  opacity: 0.7;
}

/* Overlays */
/* Article page's header */
.article-header-image-gradient {
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

/* Review page's header */
.review-header-image-gradient {
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}

/* Animations */
/* Upscale transformation inside a container */
.upscale-container {
  position: relative;
}

.upscale-container:hover .upscale-image {
  transform: scale(1.05);
}

.upscale-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.upscale-overlay {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.85) 90%
  );
  z-index: 1;
}

.upscale-content {
  position: relative;
  z-index: 10;
  color: white;
  padding: 16px;
}
